# Copy this file to .env before local testing, or edit /etc/uvjerenja-terminal/uvjerenja-terminal.env after installation.
POTVRDE_APP_ID="uvjerenja-terminal"
POTVRDE_APP_TITLE="Uvjerenja Terminal"
POTVRDE_PRINTER_NAME=""
POTVRDE_VAR_DIR=""
POTVRDE_TEMPLATE_PATH=""
POTVRDE_DEBUG_MODE="0"
POTVRDE_SUBPROCESS_TIMEOUT="60"
POTVRDE_DOCX_CONVERT_TIMEOUT="45"
POTVRDE_PRINT_TIMEOUT="30"
POTVRDE_IDLE_TIMEOUT_MS="60000"
POTVRDE_PRINTER_CHECK_RETRY_ATTEMPTS="5"
POTVRDE_PRINTER_CHECK_RETRY_DELAY_SECONDS="3"
POTVRDE_PRINT_RETRY_ATTEMPTS="3"
POTVRDE_PRINT_RETRY_DELAY_SECONDS="3"
POTVRDE_AUTOSTART_ENABLED="ask"
POTVRDE_WORKING_HOURS_ENABLED="1"
POTVRDE_WORKING_HOURS_START="08:00"
POTVRDE_WORKING_HOURS_END="15:00"
POTVRDE_CLEANUP_ENABLED="1"
POTVRDE_CLEANUP_INTERVAL_MINUTES="30"
POTVRDE_SUCCESSFUL_JOB_DOCUMENT_RETENTION_MINUTES="0"
POTVRDE_FAILED_JOB_RETENTION_DAYS="7"
POTVRDE_JOB_JSON_RETENTION_DAYS="30"
POTVRDE_LOG_RETENTION_DAYS="90"
POTVRDE_STORAGE_ALERT_USED_PERCENT="90"
POTVRDE_STORAGE_CRITICAL_USED_PERCENT="95"
POTVRDE_STORAGE_ALERT_MIN_FREE_MB="512"
POTVRDE_STORAGE_CLEANUP_ON_PRESSURE="1"
POTVRDE_STORAGE_ALERT_COOLDOWN_MINUTES="60"
POTVRDE_STORAGE_CHECK_INTERVAL_MINUTES="30"
POTVRDE_TELEGRAM_ENABLED="1"
POTVRDE_TELEGRAM_BOT_TOKEN="PASTE_TELEGRAM_BOT_TOKEN_HERE"
POTVRDE_TELEGRAM_ALLOWED_USER_ID="PASTE_YOUR_TELEGRAM_USER_ID_HERE"
POTVRDE_TELEGRAM_ERROR_NOTIFICATIONS="1"
POTVRDE_TELEGRAM_STATUS_NOTIFICATIONS="1"
POTVRDE_TELEGRAM_NOTIFY_ONLINE="1"
POTVRDE_TELEGRAM_NOTIFY_PRINT_JOBS="1"
POTVRDE_TELEGRAM_NOTIFY_UPDATE_EVENTS="1"
POTVRDE_TELEGRAM_ERROR_COOLDOWN_SECONDS="60"
POTVRDE_TELEGRAM_POLL_TIMEOUT="25"
POTVRDE_TELEGRAM_POLL_BACKOFF_MAX_SECONDS="60"
POTVRDE_TELEGRAM_SEND_RETRY_ATTEMPTS="5"
POTVRDE_TELEGRAM_SEND_RETRY_DELAY_SECONDS="2"
POTVRDE_TELEGRAM_COMMAND_TIMEOUT="900"
POTVRDE_TELEGRAM_REMOTE_COMMANDS_ENABLED="1"
POTVRDE_REBOOT_COMMAND="sudo -n shutdown -r now"
POTVRDE_RELAUNCH_AFTER_UPDATE="1"
POTVRDE_RELAUNCH_COMMAND="/usr/local/bin/uvjerenja-terminal-run"
POTVRDE_NETWORK_CHECK_HOST="api.telegram.org"
POTVRDE_NETWORK_CHECK_PORT="443"
POTVRDE_NETWORK_CHECK_TIMEOUT="5"
POTVRDE_NETWORK_RECONNECT_COMMAND=""
POTVRDE_CUPS_RESTART_COMMAND="sudo -n systemctl restart cups"
POTVRDE_TELEGRAM_LOG_TAIL_LINES="80"
POTVRDE_UPDATE_REPO_URL="https://github.com/velimirpaleksic/Raspberry-Pi.git"
POTVRDE_UPDATE_SOURCE_DIR="/home/pi/Raspberry-Pi"
POTVRDE_UPDATE_BRANCH=""
POTVRDE_UPDATE_COMMAND="bash ./update_uvjerenja_terminal.sh"
